Package: myflaskproject
Version: 1.0
Section: base
Priority: optional
Architecture: all
Depends: python3, python3-venv
Maintainer: Musa Berat Avseren <musaberatavseren@gmail.com>
Description: basit toplama ve çarpma get ve post isteklerine cevap veren api Flask uygulaması
